In [2]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the dataset
df = pd.read_csv('./TaxiData.csv')
df

,pickup_community_area,fare,trip_start_month,trip_start_hour,trip_start_day,trip_start_timestamp,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,trip_miles,pickup_census_tract,dropoff_census_tract,payment_type,company,trip_seconds,dropoff_community_area,tips
0,NaN,12.45,5,19,6,1400269500,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Credit Card,Chicago Elite Cab Corp. (Chicago Carriag,0.0,NaN,0.0
1,NaN,0.00,3,19,5,1362683700,NaN,NaN,NaN,NaN,0.0,NaN,NaN,Unknown,Chicago Elite Cab Corp.,300.0,NaN,0.0
2,60.0,27.05,10,2,3,1380593700,41.836150,-87.648788,NaN,NaN,12.6,NaN,NaN,Cash,Taxi Affiliation Services,1380.0,NaN,0.0
3,10.0,5.85,10,1,2,1382319000,41.985015,-87.804532,NaN,NaN,0.0,NaN,NaN,Cash,Taxi Affiliation Services,180.0,NaN,0.0
4,14.0,16.65,5,7,5,1369897200,41.968069,-87.721559,NaN,NaN,0.0,NaN,NaN,Cash,Dispatch Taxi Affiliation,1080.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14997,8.0,3.25,5,11,5,1431602100,41.904935,-87.649907,41.904935,-87.649907,0.0,NaN,1.703184e+10,Cash,Taxi Affiliation Services,60.0,8.0,0.0
14998,8.0,3.25,11,16,4,1385568900,41.904935,-87.649907,41.904935,-87.649907,0.0,NaN,1.703184e+10,Cash,Taxi Affiliation Services,0.0,8.0,0.0
14999,8.0,4.25,12,13,3,1449579600,41.904935,-87.649907,41.904935,-87.649907,0.3,NaN,1.703184e+10,Cash,NaN,180.0,8.0,0.0
15000,61.0,9.85,9,15,6,1410534000,41.809018,-87.659167,41.829922,-87.672503,3.0,NaN,NaN,Cash,Taxi Affiliation Services,780.0,59.0,0.0
15001,8.0,7.45,7,11,4,1374061500,41.895033,-87.619711,NaN,NaN,0.0,1.703108e+10,NaN,Cash,Taxi Affiliation Services,0.0,NaN,0.0

## Q 2.a) 
Trip Frequency by Time of Day, Month, and Day